@{
    ViewData["Title"] = "О нас";
}

<h2>О нас</h2>

<div class="card p-4 shadow-sm">
    <p>
        Это тестовый проект для компании <strong>Алгоритм</strong>.
    </p>
    <p>
        Разработчик: <strong>Etsellon</strong> (C# Backend Developer)
    </p>
    <p>
        Контакты:
    </p>
    <ul>
        <li>GitHub: <a href="https://github.com/Etsellon/" target="_blank">https://github.com/Etsellon/</a></li>
        <li>Email: <a href="mailto:etsellondev@gmail.com">etsellondev@gmail.com</a></li>
        <li>Telegram: <a href="https://t.me/Etsellon" target="_blank">@@Etsellon</a></li>
    </ul>
</div>
